@import "syntax-variables";

@added-line: fadeout(@syntax-color-added, 80%);
@added-inner: fadeout(@syntax-color-added, 70%);

@removed-line: fadeout(@syntax-color-removed, 80%);
@removed-inner: fadeout(@syntax-color-removed, 70%);

.underline(@color) {
  border-color: @color;
  box-sizing: border-box;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
}

atom-text-editor {
  .inline-git-diff-added .region {
    background-color: @added-line !important;
  }

  .highlight.inline-git-diff-added-inner .region {
    background-color: @added-inner;
    .underline(@syntax-color-added);
  }
}

// Editor embeded in normal editor which shows removed lines
// Mounted as block decoration
atom-text-editor.inline-git-diff-removed {
  .lines {
    background-color: @removed-line !important;
  }

  .highlight.inline-git-diff-removed-inner .region {
    background-color: @removed-inner;
    .underline(@syntax-color-removed);
  }

  .cursor {
    visibility: hidden;
  }
  .lines .line.cursor-line {
    background-color: transparent; // disable cursor-line highlight
  }
}

// Sass Mixins
//------------------
.define-flash-animation (@animation-name, @color) {
  @keyframes @animation-name {
    from {
      background-color: @color;
    }
    to {
      background-color: transparent;
    }
  }
}
.flash (@animation-name; @duration) {
  animation-name: @animation-name;
  animation-duration: @duration;
  animation-iteration-count: 1;
}
//------------------

.define-flash-animation(flash-copy, @syntax-color-removed);

atom-text-editor .inline-git-diff-flash-copy {
  .flash(flash-copy, 0.8s);
}
